<h1>Create Cuepoint</h1>
<div class = "col-xs-6">
  <div class="row">
    
    <%= render "form", cuepoint: @cuepoint %>
    
    <%= link_to "Cancel", cuepoints_path, class: "btn btn-warning pull-right" %>
    
  </div>
</div>
